version: "3"
services:
  hmpps-arns-risk-actuarial-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-arns-risk-actuarial-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    volumes:
      - ./auth_db:/auth_db
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
      - SPRING_FLYWAY_LOCATIONS=classpath:db/auth,db/auth_h2,db/dev/data/auth_h2,db/dev/data/auth,filesystem:/auth_db

  redis:
    image: redis:8.2.2-alpine
    networks:
      - hmpps
    container_name: redis
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"

  manage-offences-api:
    image: rodolpheche/wiremock
    volumes:
      - ./wiremock-manage-offences-api:/home/wiremock
    networks:
      - hmpps
    command:
      - -verbose
      - -global-response-templating
    ports:
      - "8085:8080"

networks:
  hmpps:
